bgcolor = #ddd
trcolor = #aaa
newcolor = #dde

body
  background-color newcolor

stripe(even = #fff, odd = #bbb)
  tr
    background-color odd
    &.even
    &:nth-child(even)
      background-color even

table
  margin 0 auto
  stripe()
  td
    padding 4px 10px
